@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


* { margin: 0;
    padding: auto;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; }


 .Contenedor { 
    max-width: 1200px;
    margin: 0 auto;
  }

.header {
    position: relative;
    align-items: center;
    display: flex;
    height: 86vh;
    overflow: hidden;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{ padding: 20px;}

.menu .navHeader ul li { 
    position: relative;
    float: left;
}
.menu .navHeader ul li a{
    font-size: 1.5rem;
    padding: 20px;
    color: rgb(144, 12, 63);
    display: block;
    font-weight: 600;
 }

 #menu { display: none;}

 .menuImg { 
    margin-top: 20px;
    width: 18%;}

 .menu label {
    cursor: pointer;
    display: none;
 }

 .carrusel{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
 }

 .carrusel ul {
    display: flex;
    padding: 0;
    width: calc(100% * 3);
    animation: slide 15s infinite alternate ease-in-out;
 }

 .carrusel-item {
    width: 100vw;
    height: 100vh;
    list-style: none;
    position: relative;
 }

 .carrusel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .textoCarrusel{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(252, 253, 193);
    text-align: center;
    max-width: 90%;
    padding: 10px;
 }

 .textoCarrusel h2{
    font-size: 3vw;
    margin-top: 10px;
 }

 .textoCarrusel p{
    font-size: 2vw;
    margin: 0;
    padding: 10px;
 }

 
 body {
    background-color: rgb(255, 229, 182); 
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.textoRelleno{
    margin-top: 70px;
    margin: 50px;
}

 @keyframes slide{
    0% { margin-left: 0; }
    25% { margin-left: 0; }

    40% { margin-left: -100%; }
    55% { margin-left: -100%; }

    80% { margin-left: -200%; }
    100% { margin-left: -200%; }
}

@media (max-width: 800px) {  
    .textoCarrusel h2 {font-size: 5vw;}
    
    .textoCarrusel p{
         font-size: 3vw;
         padding: 10px;}
    
}

@media (max-width: 840px){ 

    .menu .navHeader{ 
        position: fixed right;
        top: 0;
        left: 0;
        background: rgb(117, 57, 7);
        width: 250px;
        height: 100vh;
        padding-top: 40px;
        z-index: 1;
        display: none;
    }

    .menu .navHeader ul{ 
        flex-direction: column;
    }

    .menu .navHeader ul li{ 
        margin-top: 30px;
        margin-left: 0;
    }

    .menu .navHeader ul li a{
        color: rgb(10, 3, 3);
    }

    #ingresar{ color: rgb(252, 133, 97);}

    #menuImagen{ 
        display: flex;
        justify-content: right;
    }

    #menuImagen:checked ~ .navHeader{display: block;}
    
}

