@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* { 
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; 
}

body { 
    background-image: url(../Img/5-cortes-midi-antiage-para-renovarte-este-otono-2024-DESTACADA.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

.header {
    position: relative;
    align-items: center;
    display: flex;
    height: 86vh;
    overflow: hidden;
}


.Contenedor {
    padding: 0px 10px 0px 10px;
    margin: 0 auto;
}

/*Scroll*/
.menu.down {
    background: #f58505
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    transition: 0.7s;
}

.logo { 
    padding: 25px;
    color: black;
}

.menu .navHeader ul li { 
    position: relative;
    float: left;
}

.menu .navHeader ul li a {
    margin-right: 20px;
    font-size: 1.5rem;
    color: rgb(255, 193, 100);
    display: block;
    font-weight: 600;
    transition: all 0.5s ease;
}

.menu .navHeader ul li a:hover{
    color: #f53505;
}


#menu { 
    display: none;
}

.closeMenu{display: none;}

.menuImg { 
    margin-right: 20px;
    margin-top: 20px;
    width: 18%;
}

.menu label {
    cursor: pointer;
    display: none;
}

/*Reseñas*/
#reseñas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.comentarioContenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%; 
    margin-top: 90px;
}

.comentarioBox{
    width: 523px;
    height: 220px;
    border-radius: 30px;
    box-shadow:  2px 2px 30px rgba(90, 41, 1, 0.315);
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.perfilImagen{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.perfilImagen img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.comentarioPerfil{
    margin: 20px;
    display: flex;
    align-items: center;
}

.nombreUsuario{ 
    display: flex;
    flex-direction: column;
}

.nombreUsuario strong{
    font-size: 1.1rem;
    letter-spacing: 0,5px;
}

.nombreUsuario span{
    font-size: 0.8rem;
}


.comentarioTop{
    margin: 30px;
}

.comentario {
    font-size: 0.9rem;
    color: #4b4b4b;
}

/*Footer*/



.contenedorFooter{
    background-color: black;
    padding: 30px;
}

.footerRow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksFooter {
    color: #fff;
    padding: 0 40px 40px 40px;

}

.linksFooter a{
    color: #f58505;
    transition: all 0.5s ease;
}

.linksFooter a:hover{
    color: #f53505;
    transform: translateY(-5px);
}

.linksFooter h4{
    padding: 20px;
    text-align: center;

}

.elementos ul{
    padding: 0;
    margin: 0;
    display: flex;
}

.elementos ul li{
    margin-right: 10px;
}

.elementos ul li a{
    display: inline-block;
}

.social{
    display: flex;
    justify-content: center;
}

.social a i{
    margin-right: 10px;
    font-size: 30px;
}

.derechos{
    color: #fff;  
    text-align: center;
}

@media (max-width: 840px) {  
    .navHeader { 
        position: fixed;
        top: 0;
        right: -100%; /* Menú oculto por defecto */
        background: rgb(117, 57, 7);
        width: 250px;
        height: 100vh;
        flex-direction: column;
        transition: right 0.3s ease; 
    }

    .navHeader.active {
        right: 0; 
    }

    /* Estilos para el boton de cierre ("X") */
    .closeMenu {
        display: flex;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        color: #fff;
        cursor: pointer;
    }

    .menu .navHeader ul { 
        flex-direction: column;
        margin-top: 50px; /* Espacio debajo del botón de cierre */
    }

    .menu .navHeader ul li { 
        margin-top: 50px;
        margin-left: 0;
        margin-right: 20px;
    }

    .menu .navHeader ul li a {
        color: rgb(206, 139, 84);
    }

    #menuImagen { 
        margin-bottom: 20px;
        display: flex;
        justify-content: right;
    }
}



/*medida para celular*/
@media (max-width: 480px) { 
    html{
        font-size: 15px;
    } 
    .textoCarrusel h2 {
        font-size: 30px;
    }
    
    .textoCarrusel p {
         font-size: 18px;
         padding: 10px;
        }

    .logo {
        font-size: 20px;
    }

    .menu label {
        transform: translateY(-10px);
    }
}

